<component name="ArtifactManager">
  <artifact type="war" name="SpringTestTest:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringTestTest.war">
      <element id="artifact" artifact-name="SpringTestTest:war exploded" />
    </root>
  </artifact>
</component>